<div class="col-md-12">
  <div class="row">
    <h2>
      <span>Area Configurations</span>
      <button class="btn btn-primary pull-right create-area-configuration"
              [routerLink]="['/area-configuration-new']">
        <span class="fa fa-plus"></span>
        <span class="hidden-sm-down">
            Create new Area Configuration
            </span>
      </button>
    </h2>
  </div>
</div>
<div class="col-md-12 table-responsive">
  <table class="table table-striped"  style="width:100%">
    <tr>
      <th>code</th>
      <th>name</th>
      <th>parentId</th>
      <th>riskRating</th>
      <th>status</th>
      <th>createDate</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let areaConfiguration of areaConfigurations | paginate: { itemsPerPage: 10, currentPage: p2 }">
      <td> {{ areaConfiguration.code }} </td>
      <td> {{ areaConfiguration.name }} </td>
      <td> {{ areaConfiguration.parentId }} </td>
      <td> {{ areaConfiguration.riskRating }} </td>
      <td> {{ areaConfiguration.status }} </td>
      <td> {{ areaConfiguration.createDate }} </td>
      <td class="text-right">
        <div class="btn-group flex-btn-group-container">
          <button *ngIf="areaConfiguration.id" type="submit"
                  [routerLink]="['../area-configuration', areaConfiguration.id ]"
                  class="btn btn-info btn-sm">
            <span class="fa fa-eye"></span>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
          </button>
          <button *ngIf="areaConfiguration.id" type="submit"
                  [routerLink]="['../area-configuration/edit', areaConfiguration.id]"
                  class="btn btn-primary btn-sm">
            <span class="fa fa-eye"></span>
            <span class="d-none d-md-inline">Edit</span>
          </button>
          <button *ngIf="areaConfiguration.id" type="submit"
                  [routerLink]="['/', { outlets: { popup: 'area-configuration/'+ areaConfiguration.id + '/delete'} }]"
                  replaceUrl="true"
                  queryParamsHandling="merge"
                  class="btn btn-danger btn-sm">
            <span class="fa fa-remove"></span>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
          </button>
        </div>
      </td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p2 = $event"></pagination-controls>
</div>
