<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAreaConfigurationLabel">Create or edit a Area
            Configuration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <!--<jhi-alert-error></jhi-alert-error>-->
        <div class="form-group" [hidden]="!areaConfiguration.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="areaConfiguration.id" readonly/>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="smartcrowdApp.areaConfiguration.name"
                   for="field_name">Name</label>
            <input type="text" class="form-control" name="name" #fieldNameInput="ngModel" id="field_name"
                   [(ngModel)]="areaConfiguration.name" maxlength="50">
            <div *ngIf="fieldNameInput.dirty && fieldNameInput.invalid">
                <small class="form-text text-danger"
                       *ngIf="fieldNameInput.errors.maxlength" jhiTranslate="entity.validation.maxlength"
                       translateValues="{max: 50}">
                    This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="smartcrowdApp.areaConfiguration.code"
               for="field_code">Code</label>
        <input type="text" class="form-control" name="code" id="field_code"
               [(ngModel)]="areaConfiguration.code"/>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="smartcrowdApp.areaConfiguration.parentId"
               for="field_parentId">Parent Id</label>
        <input type="number" class="form-control" name="parentId" id="field_parentId"
               [(ngModel)]="areaConfiguration.parentId"/>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="smartcrowdApp.areaConfiguration.groupLebel"
               for="field_groupLebel">Group Lebel</label>
        <input type="text" class="form-control" name="groupLebel" id="field_groupLebel"
               [(ngModel)]="areaConfiguration.groupLebel"/>
    </div>
    <div class="form-group">
        <label class="form-control-label" jhiTranslate="smartcrowdApp.areaConfiguration.riskRating"
               for="field_riskRating">Risk Rating</label>
        <input type="number" class="form-control" name="riskRating" id="field_riskRating"
               [(ngModel)]="areaConfiguration.riskRating"/>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
