
.toast-container {
    width: 40%;
    z-index: 9999;
}

* html .toast-container {
    position: absolute;
}

.toast-item {
    height: auto;
    background: #0d86c3;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #eee;
    font-family: lucida Grande;
    font-size: 20px;
    border: 2px solid #999;
    display: block;
    position: relative;
}

.toast-item p {
    text-align: left;
    margin-left: 50px;
}

.toast-item-close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.toast-item-image {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

.toast-item-image-notice {
}

.toast-item-image-success {
}

.toast-item-image-warning {
}

.toast-item-image-error {
}

.toast-type-notice {
    color: white;
}

.toast-type-success {
    color: white;
}

.toast-type-warning {
    color: white;
    border-color: #FCBD57;
}

.toast-type-error {
    color: white;
    border-color: #B32B2B;
}

.toast-position-top-right {
    position: fixed;
    top: 50px;
    right: 20px;
}

.toast-position-center {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}

.toast-position-middle-bottom {
    position: fixed;
    left: 50%;
    margin-left: -140px;
    margin-top: -40px;
    top: 75%;
}
