<footer id="myFooter">
    <div class="container">
        <div style="text-align:center; color:#fff; margin-bottom:40px; font-size:17px; line-height:1.8;">Smart Crowd
            Limited (Smart Crowd) is regulated by the DFSA. Smart Crowd’s DFSA Licence is a restricted “Innovation
            Testing Licence” and it is restricted under the DFSA Licence to testing its platform.
            Due to the limited nature of its Licence, normal Client protections may not apply and Clients may have
            limited rights if they suffer loss as a result of taking part in testing.
        </div>

        <div style="font-size:16px; margin-bottom:51px; color:gainsboro; text-align:center;">
            <a target="_blank" href="http://www.smartcrowd.ae/knowledge-hub/"><p style="color: #fff;"><span
                style="color:red;"><sup>*</sup>RISK WARNING:</span> Investments in property and unlisted shares carry a
                risk.Your capital may be at risk and
                you may not receive the anticipated returns. This is not investment advice. These estimates are based on
                past performance
                and current market condition which cannot be regarded as an accurate indicator of future results. You
                should do your own due diligence
                or consult with an independent third party advisor. Please review the full set of risk disclosure</p>
            </a>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <h2 class="logo"><a href="#"><img src="../../../img/SC-logo-white.png" width="170px"/></a></h2>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12">
                <h4 class="footer_title">Legal</h4>
                <ul>
                    <li><a href="http://www.smartcrowd.ae/privacy-policy/" target="_blank">Privacy Policy</a></li>
                    <li><a href="http://www.smartcrowd.ae/cookie-policy/" target="_blank">Cookie Policy</a></li>
                    <li><a href="http://www.smartcrowd.ae/acceptable-use/" target="_blank">Website Policy</a></li>
                </ul>
            </div>

            <div class="col-md-2 col-sm-12 col-xs-12">
                <h4 class="footer_title">Links</h4>
                <ul>
                    <li><a href="http://www.smartcrowd.ae/about-us/" target="_blank">About us</a></li>
                    <li><a href="http://www.smartcrowd.ae/blog/" target="_blank">Blog</a></li>
                    <li><a href="http://www.smartcrowd.ae/contact/" target="_blank">Contact us</a></li>
                </ul>
            </div>


            <div class="col-md-2 col-sm-12 col-xs-12">
                <h4 class="footer_title">Knowledge Hub</h4>
                <ul>
                    <li><a href="http://www.smartcrowd.ae/knowledge-hub/" target="_blank">How it works</a></li>
                    <li><a href="http://www.smartcrowd.ae/knowledge-hub/" target="_blank">FAQs</a></li>
                    <li><a href="http://www.smartcrowd.ae/knowledge-hub/" target="_blank">Key risks</a></li>
                    <li><a href="http://www.smartcrowd.ae/knowledge-hub/" target="_blank">Screening Criteria</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="social-networks">
                    <a href="https://twitter.com/smartcrowdae" class="twitter" target="_blank"><i
                        class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/smart-crowd-property/" class="facebook" target="_blank"><i
                        class="fa fa-linkedin"></i></a>
                    <!-- a href="#" class="google"><i class="fa fa-google-plus"></i></a -->
                </div>
                <a href="http://www.smartcrowd.ae/contact/" class="btn btn-default" target="_blank">Contact us</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2018 Smart Crowd. All rights reserved. </p>
    </div>
</footer>
