<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 jhiTranslate="password.title" *ngIf="account">Password
                for [<b>{{account.login}}</b>]</h2> <!--translateValues="{username: '{{account.login}}'}"-->

          <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>

            </div>
            <div class="alert alert-danger" *ngIf="exceptionError!=null">
                <strong>{{exceptionError}}</strong>

            </div>
            <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation does not match!
            </div>
            <div class="alert alert-info" *ngIf="!success">
                Please change your <strong>password</strong>.
            </div>

            <!--<div class="alert alert-success" *ngIf="passwordChangedOnFirstTimeLogin">-->
            <!--Your password has been changed. Please wait we will redirect you to the login page.-->
            <!--</div>-->

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="passwordold" jhiTranslate="global.form.oldpassword">Current
                        password</label>
                    <input type="password" class="form-control" id="passwordold" name="passwordold"
                           #passwordoldInput="ngModel"
                           (keyup)="oldAndNewPasswordDuplicacyCheck(passwordold,password)"
                           [(ngModel)]="passwordold" minlength=8 maxlength=50
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div *ngIf="passwordoldInput.dirty && passwordoldInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="passwordoldInput.errors.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordoldInput.errors.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordoldInput.errors.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="passwordoldInput.errors.pattern">
                            Password must contain at least one number, one uppercase letter, one lowercase letter and at
                            least 8 or more characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New
                        password</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                           (keyup)="oldAndNewPasswordDuplicacyCheck(passwordold,password)"
                           [(ngModel)]="password" minlength=8 maxlength=50 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                           required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="passwordInput.errors.pattern">
                            Password must contain at least one number, one uppercase letter, one lowercase letter and at
                            least 8 or more characters.
                        </small>
                    </div>
                    <small class="form-text text-danger"
                           *ngIf="passwordDuplicate">
                        New password cannot be same as old password
                    </small>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New
                        password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           #confirmPasswordInput="ngModel"
                           [(ngModel)]="confirmPassword" minlength=8 maxlength=50
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.pattern">
                            Password must contain at least one number, one uppercase letter, one lowercase letter and at
                            least 8 or more characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid || passwordDuplicate"
                        class="btn btn-primary"
                        jhiTranslate="password.form.button">Save
                </button>
            </form>
        </div>
    </div>
</div>
