<style>
  .home-loader img {
    height: 450px;
    width: 550px;
  }
</style>
<div class="cronus" style="overflow-x:hidden;">
  <div class="row" xmlns="http://www.w3.org/1999/html">
    <p class="top_alert_box">Our platform is maximized for windows and Google Chrome. We highly recommend operating the platform in Google Chrome for enhanced experience</p>
    <div class="box-container-old txt-center">
      <div *ngIf="hideWelcome == true" class="load-icon">
        <img src="../entities/investor-property/img/load_sc.gif" alt="">
      </div>

      <div class="col-md-12" *ngIf="hideWelcome == false">


        <h1 class="display-4 hom-title" style="text-align: left; text-transform: uppercase;">CONGRATS on being the <br/> <span style="color: #65cfd4; text-shadow: 0px 0px 11px #6f6f6f;">first 100 Investors !!!</span></h1>

        <div>

        </div>
      </div>




      <div class="col-md-12" *ngIf="hideWelcome == false">


        <div>

          <div class="alert alert-warning">
            <!-- <span jhiTranslate="global.messages.info.authenticated.prefix"></span> -->
            <p style="font-size:35px; font-weight: bold; text-align: left; margin-bottom: 5px;">Welcome to Smart Crowd</p>

            <hr style="color: #65cfd4; width:200px; border: 3px solid turquoise; margin-top: 0px; margin-bottom: 20px; position: absolute;">

            <p style="font-size:20px; text-align: left; font-weight: 100; margin-top: 35px;">We are delighted that you have decided to use our innovative platform to invest in Real Estate. Among hundreds of interested potential investors, we have allowed you to access the platform to become an early adopter. If you have changed your mind or feel it’s not the right time, then please let us know so we can give other investors a chance.</p>

            <p style="font-size:20px; text-align: left;">We are currently not live to the public and in private stage, hence onboarding new users by invitation only. If you have been provided login credentials, please use them to sign in and access our platform otherwise register your interest on our homepage <a href="www.smartcrowd.ae">(www.smartcrowd.ae)</a> and we will inform you as soon as you are able to access the platform.</p>

            <p style="text-align: left; font-size: 16px; color: darkgrey; margin-top: 45px; margin-bottom: 7px;">Smart Crowd Limited (Smart Crowd) is regulated by the DFSA. Smart Crowds DFSA License is a restricted “Innovation Testing License” and it is restricted under the License to testing its platform.</p>

            <p style="text-align: left; font-size: 16px; color: darkgrey; margin-top: 0px;">Due to the limited nature of its License, normal Client protections may not apply, and Clients may have limited rights if they suffer loss because of taking part in testing.</p>
            <!-- <span jhiTranslate="global.messages.info.authenticated.suffix"> user admin [user]</span>
            <span jhiTranslate="global.messages.info.authenticated.link"></span> -->
            <!--<span style="font-size:20px;">and access our platform otherwise register your interest on our homepage <a-->
            <!--href="http://www.smartcrowd.ae/" target="_blank" class="alert-link">(www.smartcrowd.ae)</a> and we will inform as soon as you are able to access the platform.</span>-->
            <!--<div style=""></div>-->
            <!--&nbsp;-->
            <!--&nbsp;-->
            <!--<div style="font-size:20px;">-->
            <!--Smart Crowd Limited (Smart Crowd) is regulated by the DFSA . Smart Crowds DFSA Licence is a-->
            <!--restricted “Innovation Testing Licence” and it is restricted under the Licence to testing-->
            <!--its platform.-->
            <!--</div>-->
            <!--&nbsp;-->
            <!--&nbsp;-->
            <!--<div style="font-size:18px;">-->
            <!--Due to the limited nature of its Licence, normal Client protections may not apply and-->
            <!--Clients may have limited rights if they suffer loss because of taking part in testing.-->
            <!--</div>-->
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
